extends layout

block content
 h1= update post
 form#formUpdateContent(name="updatepost",method="put",action="/update_post")
  input#input_title(type="text", placeholder="title", name="title")
  br
  input#input_voc(type="text", placeholder="voc", name="voc")
  br
  input#input_term(type="text", placeholder="term", name="term")
  br
  textarea#input_body(cols="50",rows="10", placeholder="body", name="body")
   | #{input_bodyStr}
  br
  button#btnSubmit(type="submit") submit