doctype html
html(lang='en')
 head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width',initial-scale=1)
  title= title
  script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
  block css
   link(rel='stylesheet', href='/css/style.css')
  block js
 body
  block content
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  block foot
  br
  p.box1
   |footer
   br
   a(href="/", target="_blank") home |    
   a(href="/ani1", target="_blank") ani1
